/* Base */
@font-face {
  font-family: CarolynaProBlack;
  src: url(fonts/carolyna-pro-black.otf);
}

html,
body {
  height: 100%;
  background-color: #e8dbca;
  background: url("../img/bg.png") repeat;
}

body {
  color: #000;
  display: block;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .01rem;
  /*letter-spacing: -0.003em;*/
  line-height: 1.58;
  margin: 0;
  position: relative;
}

h1, h2, h3, h4 {
  color: #000;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 10px 0;
}
h2 {
  text-align: center;
}
h3 {
  padding: 0;
  text-align: center;
}
h4 {
  padding: 0;
  text-align: left;
}

table {
  color: #fff;
  margin-bottom: 10px;
  vertical-align: top;
  width: 100%;
}

table h3 {
  margin: 0;
}

/* Photo Container */
#photo-container {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 60%;
}

.cover-wrapper {
  background: url("../img/engage_crop.jpg") center;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  height: 100%;
  min-height: 100%;
  opacity: 1;
  position: absolute;
  transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -webkit-transition: opacity 2s ease-in-out;
  width: 100%;
}
.cover-wrapper.hidden {
  opacity: 0;
}
#cover-wrapper-wedding-day {
  background: url("../img/engage_crop.jpg") center;
  background-size: cover;
}
#cover-wrapper-rsvp {
  background: url("../img/rsvp_crop_crop.jpg") center;
  background-size: cover;
}
#cover-wrapper-our-story {
  background: url("../img/story.jpg") center;
  background-size: cover;
}
#cover-wrapper-travel {
  background: url("../img/travel.jpg") center;
  background-size: cover;
}
#cover-wrapper-covid {
  background: url("../img/covid.jpg") center;
  background-size: cover;
}
#cover-wrapper-faqs {
  background: url("../img/faqs.jpg") center;
  background-size: cover;
}
#cover-wrapper-registry {
  background: url("../img/registry.jpg") center;
  background-size: cover;
}

.site-wrapper-inner {
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.cover {
  padding: 20px;
}

.cover-heading {
  font-family: CarolynaProBlack;
  transform: rotate(-10deg);
  display: block;
  font-size: 81px;
  width: 300px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}
.cover-heading .first {
  display: block;
}
.cover-heading .middle {
  display: block;
  margin-top: -27px;
}
.cover-heading .second {
  display: block;
  margin-left: 36px;
  margin-top: -81px;
}

/* Nav */
#links {
  background-color: #357;
  color: #fff;
  position: fixed;
  right: 0;
  left: 60%;
  height: 54px;
  display: none;
  font-family: 'Muli', sans-serif;
}
#links a {
  text-decoration: none;
}
#links a div {
  color: #fff;
  padding: 8px;
  padding-left: 36px;
  font-size: 14px;
  text-decoration: none;
}
#links a.active div {
  color: #ccc;
}

#links a:hover div,
#links a:focus div {
  background-color: #ccc;
  color: #357;
  font-weight: bold;
}

.navbar {
  overflow: hidden;
  background-color: #357;
}

#dropdown {
  width: 100%;
}

#dropdown-button {
  border: none;
  outline: none;
  color: white;
  padding: 8px 0;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  display: flex;
  width: 100%;
}

#dropdown-button span {
  display: none;
  flex: 1 1 0;
  text-align: left;
  line-height: 32px;
}
#dropdown-button span.active {
  padding-left: 4px;
  display: inline-block;
}

#dropdown-button svg {
  margin: 4px;
}

#dropdown-button #drop-up {
  display: none;
}
#dropdown-button.active #drop-up {
  display: inline-block;
}

#dropdown-button #drop-down {
  display: inline-block;
}
#dropdown-button.active #drop-down {
  display: none;
}

#dropdown-content {
  display: none;
}
#dropdown-content.active {
  display: block;
}

/* Info */
#info {
  background-color: #e8dbca;
  background: url("../img/bg.png") repeat;
  color: #212121;
  margin-left: auto;
  position: static;
  width: 40%;
}
.section {
  display: table;
  min-height: 100vh;
  width: 100%;
}
.section-container {
  display: table-cell;
  padding: 72px 48px 48px;
  vertical-align: middle;
}
.section-header {
  margin: 0 0 24px;
}

/* Wedding Day */
#wedding-day {
  text-align: center;
}
#wedding-day h3 {
  text-align: center;
}

#wedding-date {
  font-family: CarolynaProBlack;
  font-size: 48px;
  margin: 12px 0;
  padding: 0;
  text-align: center;
}
#wedding-date span {
  vertical-align: middle;
}

.wedding-date-separator {
  margin: 0 -10px;
}

#day-of-week {
  margin: 12px 0 0;
}

#day-of-month {
  font-size: 96px;
  line-height: 48px;
  vertical-align: middle;
}

#wedding-venue {
  font-size: 21px;
  margin-top: 20px;
  text-align: center;
}

#map {
  margin-top: 40px;
}

.mapview {
  height: 360px;
  width: 100%;
}

/* TRAVEL */
#travel-table {
  width: 100%;
  color: #000;
  border-spacing: 10px;
  border-collapse: separate;
}
#travel-table h4 {
  margin: 0;
}

.table-icon {
  height: 38px;
  width: 38px;
}

/* FAQs */
#faqs-table {
  width: 100%;
  color: #000;
  border-spacing: 10px;
  border-collapse: separate;
}
.faq {
  font-weight: bold;
}

/* REGISTRY */
#registry-table {
  width: 100%;
  color: #000;
  border-spacing: 10px;
  border-collapse: separate;
}
#registry-table h4 {
  margin: 0;
}

@media only screen and (max-width: 960px) {
  #photo-container {
    width: 100%;
    position: relative;
    top: 54px;
  }
  #info {
    position: relative;
    width: 100%;
  }
  #links {
    left: 0;
    width: 100%;
    top: 0;
  }
/*  #links a {
    text-decoration: underline;
  }*/
}

/* Small */
@media only screen and (max-width: 1200px) {
  body {
    font-size: 18px;
  }

  .cover-heading {
    font-size: 72px;
  }
  .cover-heading .middle {
    margin-top: -24px;
  }
  .cover-heading .second {
    margin-left: 32px;
    margin-top: -72px;
  }

  #links a {
    font-size: 16px;
  }

  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

/* X-Small */
@media (min-width: 960px) and (max-width: 1200px) {
  .mast-nav li {
    margin-left: 0 !important;
    text-align: center;
  }

  .mast-nav li:nth-child(1), .mast-nav li:nth-child(2) {
    width: 49%;
  }

  .mast-nav li:nth-child(3), .mast-nav li:nth-child(4), .mast-nav li:nth-child(5) {
    width: 32%;
  }
}

@media (max-width: 630px) {
  .cover-heading {
    font-size: 63px;
  }
  .cover-heading .middle {
    margin-top: -21px;
  }
  .cover-heading .second {
    margin-left: 28px;
    margin-top: -63px;
  }
}

@media (max-width: 540px) {
  .cover-heading {
    font-size: 54px;
  }
  .cover-heading .middle {
    margin-top: -18px;
  }
  .cover-heading .second {
    margin-left: 24px;
    margin-top: -54px;
  }
}

@media (max-width: 480px) {
  .mast-nav li {
    margin-left: 0 !important;
    text-align: center;
  }

  .mast-nav li:nth-child(1), .mast-nav li:nth-child(2) {
    width: 49%;
  }

  .mast-nav li:nth-child(3), .mast-nav li:nth-child(4), .mast-nav li:nth-child(5) {
    width: 32%;
  }

  #wedding-date {
    font-size: 36px;
  }
  #day-of-month {
    font-size: 72px;
    line-height: 36px;
  }
  .section-container {
    padding: 72px 36px 36px;
  }
}

@media (max-width: 450px) {
  .cover-heading {
    font-size: 45px;
  }
  .cover-heading .middle {
    margin-top: -15px;
  }
  .cover-heading .second {
    margin-left: 20px;
    margin-top: -45px;
  }
}

@media (max-width: 360px) {
  .cover-heading {
    font-size: 36px;
  }
  .cover-heading .middle {
    margin-top: -12px;
  }
  .cover-heading .second {
    margin-left: 16px;
    margin-top: -36px;
  }
}
