@font-face {
  font-family: OstrichSans-Regular;
  src: url(fonts/ostrich-sans-regular.woff);
}

@font-face {
  font-family: OstrichSans-Light;
  src: url(fonts/ostrich-sans-light.woff);
}

@font-face {
  font-family: CarolynaProBlack;
  src: url(fonts/carolyna-pro-black.otf);
}

@font-face {
  font-family: BrandonRegular;
  src: url(fonts/Brandon_reg.otf);
}

@font-face {
  font-family: BrandonLight;
  src: url(fonts/Brandon_light.otf);
}


/* Links */

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: BrandonRegular;
  color: #000;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  /*background-color: #F2C8A9;*/
  background-color: #e8dbca;
  background: url("../img/bg.png") repeat;
}

body {
  color: #000;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  /*font-size: 21px;*/
  line-height: 1.58;
  letter-spacing: -0.003em;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px 0;
}

.fleft {
  float: left;
}


.fright {
  float: right;
}


/*
 * Cover Page
 */
.cover-wrapper {
  background: url("../img/tanaka_farms.jpg") center;
  background-size: cover;
}

.cover-heading {
  font-family: CarolynaProBlack;
  transform: rotate(-10deg);
  display: block;
  font-size: 81px;
  width: 300px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}
.cover-heading .first {
  display: block;
}

.cover-heading .middle {
  display: block;
  margin-top: -27px;
}

.cover-heading .second {
  display: block;
  margin-left: 36px;
  margin-top: -81px;
}

.cover-bottom-gradient {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  height: 200px;
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,0));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,0));
  background: -ms-linear-gradient(bottom, rgba(0,0,0,0.6), rgba(0,0,0,0));
}

/*
 * Header
 */

.cover-mastfoot {
  position: fixed;
  bottom: 0;
}

.cover-mastfoot > .inner {
  float: right;
}

.mast-nav > li {
  display: inline-block;
  line-height: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.mast-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-family: BrandonLight;
  font-size: 16px;
}

.cover-mastfoot .mast-nav > li > a {
  color: #fff;

}

.cover-mastfoot .mast-nav > li > a:hover,
.cover-mastfoot .mast-nav > li > a:focus {
  opacity: 0.5
}

.cover-mastfoot .mast-nav .rsvp {
  background: #00FF7F;
  color: #000;
}
.cover-mastfoot .mast-nav .rsvp > a {
  color: #000;
  padding: 0 10px;
}

.mast-nav > li > a:hover,
.mast-nav > li > a:focus {
  background-color: transparent;
  text-decoration: none;

}
.mast-nav > .active > a,
.mast-nav > .active > a:hover,
.mast-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.logo {
  display: block;
  position: relative;
  font-family: CarolynaProBlack;
  font-size: 36px;
  color: #000;
  text-align: center;
  transform: rotate(-10deg);
}
.logo .first {
  display: block;
}

.logo .middle {
  display: block;
  margin-left: -45px;
  margin-top: -10px;
}

.logo .second {
  display: block;
  margin-left: 25px;
  margin-top: -35px;
}

.logo-feather {
  width: 25px;
  margin-left: -110px;
  transform: rotate(-20deg);
}

.masthead > .inner > nav {
  float: right;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .logo {
    float: left;
  }
}


/*
 * Cover
 */

.cover {
  padding: 20px;
}

/*
 * Story Page
 */

.polaroid {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.31);
}

.polaroid .img {
  display: block;
  background: #DCD7D7;
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  width: 300px;
  height: 300px;
  margin: 20px 20px 70px 20px;
}

.polaroid.top {
  z-index: 100;
}

.polaroid.bottom {
  z-index: 1;
}


.polaroid.small > .img {
  width: 135px;
  height: 135px;
  margin: 15px 15px 40px 15px;
}


.story-section .title {
  font-family: CarolynaProBlack;
  font-size: 144px;
  color: #000;
  margin-top: -35px;
  margin-bottom: -10px;
  text-align: left;
}

.story-section .subtitle {
  font-family: BrandonLight;
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  text-align: left;
}

.story-section p {
  color: #000;
  text-align: left;
  margin-top: 20px;
}

#seattle {
  margin-bottom: 200px;
}

#seattle .subtitle {
  margin-left: 100px;
}

#seattle .polaroid.bottom {
  margin-top: -340px;
  margin-left: 0px;
  transform: rotate(-30deg);
}

#seattle .feather {
  width: 200px;
  float: right;
  transform: rotate(-40deg);
  opacity: 0.5;
}

#vegas .polaroid.top {
  transform: rotate(30deg);
  margin-left: 30px;
  margin-top: -120px;
}

#vegas .subtitle {
  margin-left: 150px;
}

#vegas .first {
  margin-top: 80px;
}

#vegas .polaroid.small {
  transform: rotate(45deg);
  position: relative;
  top: 200px;
  left: -200px;
}

#vegas .feather {
  width: 200px;
  transform: rotate(45deg);
  opacity: 0.2;
}


#sf {
  margin-top: 40px;
}

#sf .title {
  text-align: left;
  line-height: 0.9em;
}
#sf .subtitle {
  text-align: left;
  margin-left: 100px;
}

#sf .story > p {
  position: relative;
  left: 100px;
  top: 30px;
}

.spacer {
  height: 50px;
}

/*
 * When and where
 */

.datetime {
  color: #000;
  text-align: center;
}

.datetime h1 {
  font-family: CarolynaProBlack;
  font-size: 60px;
  vertical-align: middle;
  margin: 0px;
  line-height: 1.0em;
}
.datetime h3 {
  font-family: BrandonRegular;
  margin: 0px;
  text-transform: uppercase;
  margin-left: 40px;
}

.datetime h3.time {
  margin-top: 20px;
}

.datetime h1 span {
  margin: 0 -5px;
}

.datetime h1 .date {
  font-size: 144px;
  position: relative;
  top: 20px;
}

#map {
  margin-top: 40px;
}

.mapview {
  height: 360px;
  width: 100%;
}

/*
 * Bridal party
 */

.polaroid.party .img {
  display: block;
  background: #DCD7D7;
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
  width: 200px;
  height: 200px;
  margin: 20px 20px 50px 20px;
}
.entourage {
  margin-top: 40px;
}

.entourage .right h1, .entourage .right h4 {
  text-align: right;
}

.entourage h1 {
  font-family: CarolynaProBlack;
  font-size: 48px;
}

#bridal-carousel .item img{
    display: block;
    width: 100%;
    height: auto;
}

/*
 * Photos
 */

.gallery {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.gallery li {
  width: 25%;
  float: left;
  padding: 10px;

}

.gallery li img {
  width: 100%;
  object-fit: cover;
}

/*
 * Affix and center
 */

@media (min-width: 768px) and (max-width: 991px) {
  /* Handle the widths */
  .cover-mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }

  .mast-nav > li > a {
    font-size: 16px;
    font-family: BrandonRegular;
  }

  .polaroid .img {
    width: 180px;
    height: 180px;
    margin: 15px 15px 45px 15px;
  }

  #seattle {
    margin-bottom: 0px;
  }

  #seattle .feather {
    display: none;
  }

  #seattle .polaroid.bottom {
    margin-top: -210px;
  }

  #seattle .subtitle {
    margin-top: 50px;
  }
  #vegas .polaroid.top {
    margin-left: 0;
    margin-top: 30px;
  }
  #vegas .polaroid.small {
    top: -50px;
    left: 0;
  }
  #vegas .feather {
    display: none;
  }

  #sf .title {
    font-size: 96px;
  }

  #sf .subtitle {
    margin-left: 50px;
  }

}

@media (min-width: 992px) {
  .cover-mastfoot,
  .cover-container {
    width: 80%;
    min-width: 800px;
  }
  .masthead {

  }
}

@media(min-width: 992px) and (max-width: 1199px) {
  #sf .polaroid.fleft {
    position: relative;
    left: -40px;
  }
}
