@media only screen and (max-width: 1200px) {
  .cover-heading {
    font-size: 72px;
  }
  .cover-heading .middle {
    margin-top: -24px;
  }
  .cover-heading .second {
    margin-left: 32px;
    margin-top: -72px;
  }

  body {
    font-size: 18px;
  }

  .mast-nav > li > a {
    font-size: 16px;
    font-family: BrandonRegular;
  }

  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
